<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
    <style>
        .more-options {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .card-container {
            position: relative;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="../../index.html"><img src="../../images/logo.svg"
                        class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../images/logo-mini.svg"
                        alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                <span class="input-group-text" id="search">
                                    <i class="icon-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
                                aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                            data-toggle="dropdown">
                            <i class="icon-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                            aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="ti-info-alt mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="ti-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="ti-user mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="../../images/faces/face28.jpg" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="ti-settings text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-settings d-none d-lg-flex">
                        <a class="nav-link" href="#">
                            <i class="icon-ellipsis"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                        <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
                    </div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme">
                        <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
                    </div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <div id="right-sidebar" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
                            aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab"
                            aria-controls="chats-section">CHATS</a>
                    </li>
                </ul>
                <div class="tab-content" id="setting-content">
                    <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
                        aria-labelledby="todo-section">
                        <div class="add-items d-flex px-3 mb-0">
                            <form class="form w-100">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                                    <button type="submit" class="add btn btn-primary todo-list-add-btn"
                                        id="add-task">Add</button>
                                </div>
                            </form>
                        </div>
                        <div class="list-wrapper px-3">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Team review meeting at 3.00 PM
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Prepare for presentation
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Resolve all the low priority tickets due today
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked>
                                            Schedule meeting for next week
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked>
                                            Project review
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                            </ul>
                        </div>
                        <h4 class="px-3 text-muted mt-5 fw-light mb-0">Events</h4>
                        <div class="events pt-4 px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="ti-control-record text-primary mr-2"></i>
                                <span>Feb 11 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
                            <p class="text-gray mb-0">The total number of sessions</p>
                        </div>
                        <div class="events pt-4 px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="ti-control-record text-primary mr-2"></i>
                                <span>Feb 7 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                            <p class="text-gray mb-0 ">Call Sarah Graves</p>
                        </div>
                    </div>
                    <!-- To do section tab ends -->
                    <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
                            <small
                                class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 fw-normal">See
                                All</small>
                        </div>
                        <ul class="chat-list">
                            <li class="list active">
                                <div class="profile"><img src="../../images/faces/face1.jpg" alt="image"><span
                                        class="online"></span></div>
                                <div class="info">
                                    <p>Thomas Douglas</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">19 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="../../images/faces/face2.jpg" alt="image"><span
                                        class="offline"></span></div>
                                <div class="info">
                                    <div class="wrapper d-flex">
                                        <p>Catherine</p>
                                    </div>
                                    <p>Away</p>
                                </div>
                                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                                <small class="text-muted my-auto">23 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="../../images/faces/face3.jpg" alt="image"><span
                                        class="online"></span></div>
                                <div class="info">
                                    <p>Daniel Russell</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">14 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="../../images/faces/face4.jpg" alt="image"><span
                                        class="offline"></span></div>
                                <div class="info">
                                    <p>James Richardson</p>
                                    <p>Away</p>
                                </div>
                                <small class="text-muted my-auto">2 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="../../images/faces/face5.jpg" alt="image"><span
                                        class="online"></span></div>
                                <div class="info">
                                    <p>Madeline Kennedy</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">5 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="../../images/faces/face6.jpg" alt="image"><span
                                        class="online"></span></div>
                                <div class="info">
                                    <p>Sarah Graves</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">47 min</small>
                            </li>
                        </ul>
                    </div>
                    <!-- chat tab ends -->
                </div>
            </div>
            <!-- partial -->
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas fixed-left" id="sidebar">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">
                      <i class="icon-grid menu-icon"></i>
                      <span class="menu-title">Dashboard</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="transaction.html">
                      <i class="fa-solid fa-right-left menu-icon"></i>
                      <span class="menu-title">Transaction</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="kyc.html">
                      <i class="fa-solid fa-list-check menu-icon"></i>
                      <span class="menu-title">KYC List</span>
                    </a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                      <i class="icon-layout menu-icon"></i>
                      <span class="menu-title">UI Elements</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                      </ul>
                    </div>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                      <i class="fa-solid fa-magnifying-glass-dollar menu-icon"></i>
                      <span class="menu-title">Fund Option</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="form-elements">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="#">Fund Request</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Fund Transfer</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Fund Return</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                      <i class="icon-head menu-icon"></i>
                      <span class="menu-title">User List</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="charts">
                      <ul class="nav flex-column sub-menu">
                        <!-- <li class="nav-item"> <a class="nav-link" href="#">ChartJs</a></li> -->
                        <li class="nav-item"> <a class="nav-link" href="superadmin.html"> Super Admin </a></li>
                        <li class="nav-item"> <a class="nav-link" href="whitelabel.html"> White Label </a></li>
                        <li class="nav-item"> <a class="nav-link" href="#"> Super Distributor </a></li>
                         <li class="nav-item"> <a class="nav-link" href="#"> Distributor </a></li> 
                         <li class="nav-item"> <a class="nav-link" href="#"> Retailer </a></li> 
                         <li class="nav-item"> <a class="nav-link" href="#"> API Partner </a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="complaint.html">
                      <i class="fa-solid fa-triangle-exclamation menu-icon"></i>
                      <span class="menu-title">Complaint</span>
                    </a>
                  </li>
               
                  <!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                      <i class="ti-settings menu-icon"></i>
                      <span class="menu-title">Settings</span>
                      <i class="menu-arrow"></i>
                    </a>
                    
                  </li> -->
                  
                  <li class="nav-item">
                    <a class="nav-link" href="settings.html">
                      <i class="ti-settings menu-icon"></i>
                      <span class="menu-title">Settings</span>
                    </a>
                  </li>
                  
                </ul>
              </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"> Total Transactions</h4>
                                    <p class="card-description">
                                    <div>
                                        <button class="btn btn-info mt-1" data-toggle="modal" data-target="#addTokenModal">
                                            <i class="ti-plus mr-2 "></i> Add Tokens
                                        </button>
                                    </div>
                                    </p>
                                    <div class="row border">
                                        <div class="col-md-6 p-1 d-flex align-items-center">
                                            <span class="mr-2 status-option active" id="pending" data-status="pending">Pending</span>
                                            <span class="mr-3 status-option" id="approved" data-status="approved">Approved</span>
                                            <span class="mr-3 status-option" id="bonus" data-status="bonus">Bonus</span>
                                            <span class="mr-3 status-option" id="all" data-status="all">All</span>
                                        </div>
                                        <!-- <div class="col-md-6 d-flex justify-content-end align-items-center p-3">
                                            <input type="text" class="form-control mr-2" placeholder=" Quick Search...">
                                            <i class="ti-filter mr-3"></i>
                                            <i class="ti-file mr-3"></i>
                                            <i class="ti-settings"></i>
                                        </div> -->
                                        <div class="col-md-6 d-flex justify-content-end align-items-center p-3">
                                            <input type="text" class="form-control mr-2" placeholder=" Quick Search by TRNX ID...">
                                            <i id="filter-icon" class="fa-solid fa-filter mr-3 text-primary" style="cursor: pointer;"></i>
                                            <div class="dropdown">
                                                <i class="fa-solid fa-file mr-3 text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;"></i>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Entire</a>
                                                    <a class="dropdown-item" href="#">Minimal </a>
                                                    <a class="dropdown-item" href="#">Compact</a>
                                                </div>
                                            </div>
                                            <!-- <div class="dropdown">
                                                <i class="ti-settings" id="settingsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;"></i>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="settingsDropdown">
                                                    <h6 class="dropdown-header">Show</h6>
                                                    <a class="dropdown-item" href="#">10</a>
                                                    <a class="dropdown-item" href="#">20</a>
                                                    <a class="dropdown-item" href="#">30</a>
                                                    <div class="dropdown-divider"></div>
                                                    <h6 class="dropdown-header">Order</h6>
                                                    <a class="dropdown-item" href="#">ASC</a>
                                                    <a class="dropdown-item" href="#">DESC</a>
                                                </div>
                                            </div> -->
                                            <div class="dropdown">
                                                <i class="fa-solid fa-gear text-primary" id="settingsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;"></i>
                                                <div class="dropdown-menu dropdown-menu-right p-1" aria-labelledby="settingsDropdown">
                                                    <h6 class="dropdown-header">Show</h6>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="showOptions" id="show10" value="10">
                                                        <label class="form-check-label" for="show10">10</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="showOptions" id="show20" value="20">
                                                        <label class="form-check-label" for="show20">20</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="showOptions" id="show30" value="30">
                                                        <label class="form-check-label" for="show30">30</label>
                                                    </div>
                                                    
                                                    <div class="dropdown-divider"></div>
                                                    <h6 class="dropdown-header">Order</h6>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="orderOptions" id="orderAsc" value="ASC">
                                                        <label class="form-check-label" for="orderAsc">ASC</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="orderOptions" id="orderDesc" value="DESC">
                                                        <label class="form-check-label" for="orderDesc">DESC</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <i class="ti-file mr-3"></i> -->

                                            <!-- <i class="ti-settings"></i> -->
                                        </div>
                                        <div class="filter-section col-md-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="filterId">Search by ID</label>

                                                    <div class="input-group">
                                                        <input type="text" id="filterId" class="form-control" placeholder="ID">
                                                        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                                          <!-- <option selected>Choose...</option> -->
                                                          <option value="transaction">Trnx</option>
                                                          <option value="user">User</option>
                                                          <option value="reference">Ref</option>
                                                        </select>
                                                      
                                                      </div>    
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="filterTranxType">Transaction Type</label>
                                                    <select id="filterTranxType" class="form-control">
                                                        <option value="all">All </option>
                                                        <option value="purchase">Purchase</option>
                                                        <option value="bonus">Bonus</option>
                                                        <option value="referral">Referral</option>
                                                        <option value="transfer">Transfer</option>
                                                        <option value="refund">Refund</option>
                                                        
                                                    </select>
                                                    <!-- <input type="text" id="filterTranxType" class="form-control" placeholder="Transaction Type"> -->
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="filterStatus">Status</label>
                                                    <select id="filterStatus" class="form-control">
                                                        <option value="all">All</option>
                                                        <option value="pending">Pending</option>
                                                        <option value="approved">Approved</option>
                                                        <option value="onhold">Onhold</option>
                                                        <option value="cancelled">Cancelled</option>
                                                        <option value="deleted">Deleted</option>
                                                       
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="filterStage">Stage</label>
                                                    <select id="filterStage" class="form-control">
                                                        <option value="all">All</option>
                                                        <option value="stage1">Stage 1</option>
                                                        <option value="stage2">Stage 2</option>
                                                        <option value="stage3">Stage 3</option>
                                                        <!-- Add more stages as needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                
                                                <div class="col-md-3">
                                                    <label for="filterPayMethod">Payment Method</label>
                                                    <select id="filterPayMethod" class="form-control">
                                                        <option value="all">All</option>
                                                        <option value="credit-card">Credit Card</option>
                                                        <option value="paypal">PayPal</option>
                                                        <option value="bank-transfer">Bank Transfer</option>
                                                        <option value="manual">Manual </option>
                                                     
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="filterPayCurrency">Payment Currency</label>
                                                    <select id="filterPayCurrency" class="form-control">
                                                        <option value="all">All</option>
                                                        <option value="usd">USD</option>
                                                        <option value="eur">EUR</option>
                                                        <option value="inr">INR</option>
                                                        <!-- Add more currencies as needed -->
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="filterFromDate">From Date</label>
                                                    <input type="date" id="filterFromDate" class="form-control">
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="filterToDate">To Date</label>
                                                    <input type="date" id="filterToDate" class="form-control">
                                                </div>
                                                <div class="col-md-2 text-right">
                                                    <button class="btn btn-primary mt-4">Search</button>
                                                </div>
                                            </div>
                                            <!-- <div class="row mt-2">
                                                
                                                
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="table-responsive pt-3">
                                        <div id="pendingTable" class="table-container active">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                      <th>Profile</th>
                                                      <th>VatNo.</th>
                                                      <th>Created</th>
                                                      <th>Status</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td>Jacob</td>
                                                      <td>53275531</td>
                                                      <td>12 May 2017</td>
                                                      <td><label class="badge badge-danger">Pending</label></td>
                                                    </tr>
                                                    <tr>
                                                      <td>Messsy</td>
                                                      <td>53275532</td>
                                                      <td>15 May 2017</td>
                                                      <td><label class="badge badge-warning">In progress</label></td>
                                                    </tr>
                                                    <tr>
                                                      <td>John</td>
                                                      <td>53275533</td>
                                                      <td>14 May 2017</td>
                                                      <td><label class="badge badge-info">Fixed</label></td>
                                                    </tr>
                                                    <tr>
                                                      <td>Peter</td>
                                                      <td>53275534</td>
                                                      <td>16 May 2017</td>
                                                      <td><label class="badge badge-success">Completed</label></td>
                                                    </tr>
                                                    <tr>
                                                      <td>Dave</td>
                                                      <td>53275535</td>
                                                      <td>20 May 2017</td>
                                                      <td><label class="badge badge-warning">In progress</label></td>
                                                    </tr>
                                                  </tbody>
                                            </table>
                                        </div>
                                        <div id="approvedTable" class="table-container">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                      <th>Profile</th>
                                                      <th>VatNo.</th>
                                                      <th>Created</th>
                                                      <th>Status</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td>Alice</td>
                                                      <td>63275531</td>
                                                      <td>10 Apr 2018</td>
                                                      <td><label class="badge badge-success">Approved</label></td>
                                                    </tr>
                                                    <!-- Add more approved rows as needed -->
                                                  </tbody>
                                            </table>
                                        </div>
                                        <div id="bonusTable" class="table-container">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                      <th>Profile</th>
                                                      <th>VatNo.</th>
                                                      <th>Created</th>
                                                      <th>Status</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td>Bob</td>
                                                      <td>73275531</td>
                                                      <td>11 Jun 2019</td>
                                                      <td><label class="badge badge-primary">Bonus</label></td>
                                                    </tr>
                                                    <!-- Add more bonus rows as needed -->
                                                  </tbody>
                                            </table>
                                        </div>
                                        <div id="allTable" class="table-container">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                      <th>Profile</th>
                                                      <th>VatNo.</th>
                                                      <th>Created</th>
                                                      <th>Status</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td>Jacob</td>
                                                      <td>53275531</td>
                                                      <td>12 May 2017</td>
                                                      <td><label class="badge badge-danger">Pending</label></td>
                                                    </tr>
                                                    <tr>
                                                      <td>Messsy</td>
                                                      <td>53275532</td>
                                                      <td>15 May 2017</td>
                                                      <td><label class="badge badge-warning">In progress</label></td>
                                                    </tr>
                                                    <tr>
                                                      <td>John</td>
                                                      <td>53275533</td>
                                                      <td>14 May 2017</td>
                                                      <td><label class="badge badge-info">Fixed</label></td>
                                                    </tr>
                                                    <tr>
                                                      <td>Peter</td>
                                                      <td>53275534</td>
                                                      <td>16 May 2017</td>
                                                      <td><label class="badge badge-success">Completed</label></td>
                                                    </tr>
                                                    <tr>
                                                      <td>Dave</td>
                                                      <td>53275535</td>
                                                      <td>20 May 2017</td>
                                                      <td><label class="badge badge-warning">In progress</label></td>
                                                    </tr>
                                                    <!-- Add more rows as needed -->
                                                  </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- main-panel ends -->
            <!-- add token modal -->

            <div class="modal fade" id="addTokenModal" tabindex="-1" role="dialog"
            aria-labelledby="addTokenModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header mb-0">
                        <h5 class="modal-title" id="addTokenModalLabel">Add Token Transaction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!-- 1st Row: Transaction Type and Transaction Date -->
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="transactionType">Transaction Type</label>
                                    <select class="form-control" id="transactionType">
                                        <option>Deposit</option>
                                        <option>Withdrawal</option>
                                        <option>Transfer</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="transactionDate">Transaction Date</label>
                                    <input type="date" class="form-control" id="transactionDate">
                                </div>
                            </div>

                            <!-- 2nd Row: Token Added to and Token for Stage -->
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="tokenAddedTo">Token Added to</label>
                                    <select class="form-control" id="tokenAddedTo">
                                        <option>Email1@example.com</option>
                                        <option>Email2@example.com</option>
                                        <option>Email3@example.com</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="tokenForStage">Token for Stage</label>
                                    <select class="form-control" id="tokenForStage">
                                        <option>Stage 1</option>
                                        <option>Stage 2</option>
                                        <option>Stage 3</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 3rd Row: Payment Gateway and Payment Amount -->
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="paymentGateway">Payment Gateway (Bank)</label>
                                    <input type="text" class="form-control" id="paymentGateway" value="Bank XYZ"
                                        readonly>
                                </div>
                                <div class="col-md-6">
                                    <label for="paymentAmount">Payment Amount</label>
                                    <input type="number" class="form-control" id="paymentAmount"
                                        placeholder="Enter payment amount">
                                </div>
                            </div>

                            <!-- 4th Row: Payment Address -->
                            <div class="form-group">
                                <label for="paymentAddress">Payment Address</label>
                                <input type="text" class="form-control" id="paymentAddress"
                                    placeholder="Enter payment address">
                            </div>

                            <!-- 5th Row: No of Tokens and Bonus Adjust Checkbox -->
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="noOfTokens">Number of Tokens</label>
                                    <input type="number" class="form-control" id="noOfTokens"
                                        placeholder="Enter number of tokens">
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <div class="form-check ml-auto">
                                        <input class="form-check-input" type="checkbox" id="bonusAdjust">
                                        <label class="form-check-label" for="bonusAdjust">
                                            Bonus Adjust
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Add Token Button -->
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary">Add Token</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../vendors/chart.js/Chart.min.js"></script>
    <script src="../../vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../../vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../../vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../../vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/misc.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../js/dashboard.js"></script>
    <!-- End custom js for this page -->

    <!-- Additional scripts -->
  

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const statusOptions = document.querySelectorAll('.status-option');
            const tableContainers = document.querySelectorAll('.table-container');
            
            statusOptions.forEach(option => {
                option.addEventListener('click', function () {
                    statusOptions.forEach(opt => opt.classList.remove('active'));
                    option.classList.add('active');
                    
                    const status = option.getAttribute('data-status');
                    tableContainers.forEach(container => {
                        if (container.id.includes(status)) {
                            container.classList.add('active');
                        } else {
                            container.classList.remove('active');
                        }
                    });
                });
            });
        });
    </script>

<script>
  function showForm(formId) {
      var forms = document.querySelectorAll('.form-container');
      forms.forEach(function(form) {
          form.style.display = 'none';
      });
      document.getElementById(formId).style.display = 'block';
  }
</script>
<!-- js for filteration -->
<script>
    $(document).ready(function(){
        $('.status-option').click(function(){
            var status = $(this).data('status');
            $('.status-option').removeClass('active');
            $(this).addClass('active');
            $('.table-container').removeClass('active');
            $('#' + status + 'Table').addClass('active');
        });

        $('#filter-icon').click(function(){
            $('.filter-section').toggle();
        });
    });
</script>
<!-- Script to handle the selections  of setting -->
<script>
    $(document).ready(function() {
        // Handle selection changes
        $('.form-check-input').change(function() {
            const showOption = $('input[name="showOptions"]:checked').val();
            const orderByOption = $('input[name="orderByOptions"]:checked').val();
            const orderOption = $('input[name="orderOptions"]:checked').val();

            console.log('Show:', showOption);
            console.log('Order By:', orderByOption);
            console.log('Order:', orderOption);

            // You can add logic here to update the table or perform actions based on the selections
        });
    });
</script>


</body>

</html>